{% load static %}

<!doctype html>
<html>
    <head>
        <title>Me Receipts</title>
        <link rel="stylesheet" href="{% static '/app.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{% url "home" %}">Receipts</a></li>
                    <li><a href="{% url "receipt_create" %}">Create receipt</a></li>
                    <li><a href="{% url "accounts_list" %}">Accounts</a></li>
                    <li><a href="{% url "account_create" %}">Create Account</a></li>
                    <li><a href="{% url "categories_list" %}">Categories</a></li>
                    <li><a href="{% url "category_create" %}">Create Category</a></li>
                    <li><a href="{% url "logout" %}">Logout</a></li>
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
        <footer></footer>
    </body>
</html>