{% extends 'base.html' %}

{% block content %}
<main>
    <h1>Create Account</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
      <button class="button">Create</button>
    </div>
  </form>
</main>
{% endblock content %}