<!doctype html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Log In</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h2>Log In</h2>
            <form method="post">
               {% csrf_token %}
               {{ form.as_p }}
              <button type="submit">Log In</button>
            </form>
        </main>
        <footer></footer>
    </body>
</html>