h1 {
    text-align: center;
}

nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
    justify-content: center;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

body {
    text-align: center;
}

header {
    margin-left: auto;
    margin-right: auto;
}